
*{
    box-sizing: border-box;
}

*:focus {
    border-color: #2188ff;
    box-shadow: inset 0px 1px 2px rgba(27,31,35,0.075), 0px 0px 0px 0.2em rgba(3,102,214,0.3);
    outline:none;
}
 
:root{
    font-family:'Merriweather', serif;
   
}

p{
    color: #bfb3b3;
}

h5{
    margin: 0;
    color:  rgba(9, 21, 40, 0.82);
}

header{
    text-align: center;
}
legend{

    margin-bottom: 5%;
}

#title{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    height: 64px;
    display: block;
    background: rgba(9, 21, 40, 0.82);
    color: rgb(247, 241, 241);
    padding-top: 19px;
    font-size: 19px;
}



#singuptitle{
    padding-top: 60px;
    color: rgba(9, 21, 40, 0.82);
    font-size: 18px;

}
/*HR LINE*/
.unalinea{margin-top: 30px;
background-color: rgba(9, 21, 40, 0.82);
height:5.979166px;
border: rgba(69, 109, 172, 0.82);
}
/*HR LINE +2*/
.sameline{
    color: black;
    border-color: black;
}


legend{
    color: rgba(9, 21, 40, 0.82);
}

/*Take off border square*/
fieldset{

    border:none;
}

/*REQUIRED PLACEHOLDER*/
input::placeholder {
    text-align: right;
  }

input:focus {
    background-color: pink;
  }

input[type=text] ,input[type=tel],input[type="email"],input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f5f4f4;
}


#continent{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f5f4f4;
}


li{
    list-style-type: none;
    margin-bottom: 20px;
}

ul{
    padding-left: 0;
}

#zipcode{
    width: 30%;
    margin-top: 30px;
}
 

#codezip{
    position: absolute;
}

#textarea{
    resize: none;
    border: 1px solid #ccc;
    background-color: #f5f4f4;
    border-radius: 4px;
    width: 100%;
    margin-top: 15px;
}



.button{
    border-radius: 4px;
    padding: 15px 120px;
    background-color: #3bc6c6;
    border: 1px solid #ccc;
    color: white;
    font-size: 15px;
    padding-left: 100px;
    width: 100%;
    padding-right: 100px;
    margin-top: 20px;
}

.copy{

    text-align: center;
    margin: 0;
}


@media (min-width: 768px){

:root{

    margin: 0 150px;
}

}
