
*{
    box-sizing: border-box;
}
:root{
    font-family:'Merriweather', serif;
    
}

p{
    color: #bfb3b3;
}



header{
    text-align: center;
}

#firsth3{
    background-color:#03191ad9;
    color:white;
    padding: 5%;
    
}































#textarea{
    margin-top:20px; 
}

@media (min-width: 768px){

}
